{% extends 'layout.html' %}

{% block content %}

<h2 class="ui header">Заявка</h2>
<form class="ui form" method="POST" action="/question">
    {{ form.csrf_token }}
    <div class="field">
        <label>ФИО</label>
       {{ form.fio }}
    </div>
    <div class="field">
         <label>Электронная почта</label>
        {{ form.email }}
    </div>
    <div class="field">
         <label>Номер телефона</label>
        {{ form.phonenumber }}
    </div>
    <div class="field">
         <label>Краткое описание</label>
        {{ form.shortdescribe }}
    </div>
    <div class="field">
         <label>Вопрос</label>
        {{ form.question }}
    </div>
    <button class="ui button" type="submit">Отправить заявку</button>
</form>

{% endblock content %}