{% extends 'layout.html' %}

{% block content %}

<div class="ui container">
    <div class="ui cards">
        <div class="card">
            <div class="content">
                <div class="header">Типы заявок</div>
                <div class="description">
                    Настройка типов заявок для автоматического определения.
                </div>
            </div>
            <div class="extra content">
               <a class="ui right floated teal button" href="{{ url_for('types.types')}}">Открыть</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Пользователи</div>
                <div class="description">
                    Список пользователей и назначение ролей
                </div>
            </div>
            <div class="extra content">
                <a class="ui right floated teal button" href="{{ url_for('users.users')}}">Открыть</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Ответственные сотрудники</div>
                <div class="description">
                    Настройка соответствия типов заявок
                </div>

            </div>
            <div class="extra content">
                <div class="ui right floated teal button">Открыть</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}