{% extends 'layout.html' %}

{% block content %}
<form action="{{ url_for('register.register') }}" method="post" class="ui form">
    {{ form.csrf_token }}
    <div class="field">
        <label>Имя пользователя (никнейм):</label>
        {{ form.username }}
    </div>

    <div class="field">
        <label>Электронная почта:</label>
        {{ form.email }}
    </div>

    <div class="field">
        <label>Пароль:</label>
        {{ form.password }}
    </div>

    <div class="field">
        <label>Повторите пароль:</label>
        {{ form.confirm_password }}
    </div>

    <button type="submit" class="ui primary button">Регистрация</button>
</form>
{% endblock content %}