{% extends 'layout.html' %}

{% block content %}

<div class="ui container">
    <h2 class="ui center aligned big icon header">
        Добро пожаловать в систему заявок!
        <em data-emoji=":cactus:" class="normal"></em>
    </h2>
    <div class="ui center aligned segment">
        <p><span class="ui large text"> Здесь вы можете подать заявку в ИТ-Сервисы</span></p>
        <p><span class="ui large text">Для создания новой заявки нажмите на кнопку ниже.</span></p>
        <a href="/question" class="ui large primary button">Создать заявку</a>
    </div>
</div>
{% endblock content %}